[submodule "TMessagesProj/jni/boringssl"]
	path = TMessagesProj/jni/boringssl
	url = https://github.com/google/boringssl
	ignore = dirty
[submodule "TMessagesProj/jni/libvpx"]
	path = TMessagesProj/jni/libvpx
	url = https://github.com/webmproject/libvpx
	ignore = dirty
[submodule "TMessagesProj/jni/ffmpeg"]
	path = TMessagesProj/jni/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "TMessagesProj/jni/dav1d"]
	path = TMessagesProj/jni/dav1d
	url = https://github.com/videolan/dav1d
