*.aar
*.iml
*.so
.cxx
.externalNativeBuild
.gradle/
.idea/
.vscode/
build/
local.properties
obj/
service_account_credentials.json
__pycache__/
release/

TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
