<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application>

        <service android:name=".GcmPushListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- NekoX Google Maps API Key -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAjS-41simO1sLTIEX4YYrCjINOyFEHSo4" />
        <uses-library android:name="com.google.android.maps" android:required="false"/>

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

    </application>

</manifest>